<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.simpl.android.sdk.sample"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required for automatic OTP detection for first time user -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7c8d150034fa758b825c16dde31bbdfcebfd828e"/>
        <meta-data
            android:name="com.simpl.android.sdk.merchant_id"
            android:value="e049a4fd50019804a6530a2dea8228c9"/>

        <activity
            android:name=".view.activity.SampleActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CheckoutActivity"
            android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>
